body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


h5 {
    font-size: 40px;
}


.card-section {
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

.card-header {
    font-family:'Parisienne', cursive;
    text-align: center;

}

.card-title {
    text-align: center;
}

.row {
    padding: 10px;
}

.card {
    padding: 5px;
}

.card-body {
    height: 5px;
}

/* DOWN HERE RECIPE ONLY */