body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


h5 {
    font-size: 40px;
}


.card-section {
    margin: 0 auto;
    height: 100px;
}

.col-sm-12 {
    background-color: #73956F; 
    opacity: 0.5;
    font-family:'Parisienne', cursive;
    text-align: center;
    font-size: 36px;
    font-style: bold;
}




.card-header {
    font-family:'Parisienne', cursive;
    text-align: center;
    font-size: 36px;
    font-style: bold;

}

.card-title {
    text-align: center;
    font-size: 20px;
}

.row {
    padding: 10px;
}

.card {
    padding: 5px;
}

.card-body {
    height: 5px;
}

/* DOWN HERE RECIPE ONLY */